<header class="hero-unit" id="banner">
  <div class="container">
    <h1>New!</h1>
    <p class="lead">Write it up, ya slob.</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<br />

<div class="container">
  <div class="row">
    <div class="col-lg-12">

<form ng-submit="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input ng-model="post.title" type="text" class="form-control" id="title" placeholder="The point of writing is to make a point about writing..."/>
  </div>
  <div class="form-group">
    <label for="subTitle">Sub Title</label>
    <input ng-model="post.subTitle" type="text" class="form-control" id="subTitle" placeholder="So then what's the point of this?"/>
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <textarea ng-model="post.body" class="form-control" rows="10" placeholder="At only the age of 7, Nicholas found himself under a massive cloud of judgement by his peers."></textarea>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input imageupload type="file" id="image" />
  </div>
  <button class="btn btn-default">Submit</button>
</form>

    </div>
  </div>
</div>
